@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes balance {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-primary;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
  }

  .menu-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    a {
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        transition: all 500ms;
      }
    }
  }

  button {
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    overflow: hidden;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      padding: 16px 24px;
      border-radius: 24px;
      border: none;
    }

    .btn-face-white {
      color: rgb(51, 51, 51);
      background: white;
    }

    .btn-face-purple {
      background: linear-gradient(45deg, #7223cf, #da2eb8);
      color: white;
      display: none;
    }

    &:hover {
      .btn-face-white {
        display: none;
      }

      .btn-face-purple {
        display: flex;
        animation: appear 200ms linear 100s forwards;
        background: linear-gradient (45deg, #7223cf, #da2eb8);
      }
    }
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding: 32px;
    .heading-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 70%;

      :first-child {
        align-self: flex-start;
      }

      h2 {
        font-size: 62px;
        font-weight: 800;

        :first-of-type {
          align-items: flex-end;
        }
      }
    }

    .bubble {
      background-color: hsla(0, 0%, 100%, 0.1);
      padding: 12px 14px;
      border-radius: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      &.fire {
        right: 20px;
        transform: rotate(-20deg);
        bottom: 30%;
        font-size: 25px;
        width: 50px;
        height: 50px;
        animation: balance 1000ms alternate 400ms infinite;
      }

      &.rocket {
        top: 20%;
        right: 100px;
        font-size: 32px;
        animation: balance 1000ms alternate 400ms infinite;
      }
      &.target {
        left: 150px;
        top: 10%;
        font-size: 72px;
        transform: rotate(30deg);
        animation: balance 1000ms alternate 400ms infinite;
      }

      &.shop {
        bottom: 20%;
        left: 5%;
        font-size: 35px;
        transform: rotate(25deg);
        animation: balance 1000ms alternate 400ms infinite;
      }
    }
  }
}
